# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# You can keep your repository small and manageable with a .gitignore file.
# Prevent build artifacts, large binary files, and other large file types
# such as log files, media files, and executables from slowing down your workflow.
#
# If you need to keep large files in Bitbucket, consider introducing
# Git Large File Storage (Git LFS) as part of your workflow.
#
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore
# Learn more about Git LFS for large files:
#     https://www.atlassian.com/git/tutorials/git-lfs
**/.sonarlint/**
**/.classpath
**/.project
**/.settings/
**/bin/
**/target/
**/.metadata
**/.recommenders
**/*.vpp.bak*
**/*.vpp.lck
**/Servers/
**/*.apk
**/*.iml
**/local.properties
**/.idea/workspace.xml
**/.idea/libraries
**/.DS_Store
**/build/
**/captures
**/.externalNativeBuild
**/.idea/*
**/.gradle/*
**/gradlew
**/gradlew.bat
**/gradle/wrapper/gradle-wrapper.jar
**/gradle/wrapper/gradle-wrapper.properties
**/apk/*
**/app/debug
**/app/release
**/.cache/*

*.factorypath
implemention/mod_component/src/test/java/com/thitsaworks/dfsp_portal/component/security/DfspCryptoUnitTest.java
implemention/mod_component/src/test/java/com/thitsaworks/dfsp_portal/component/security/DfspCryptoUnitTest.java
implemention/mod_component/src/test/java/com/thitsaworks/dfsp_portal/component/security/DfspCryptoUnitTest.java
implemention/mod_vault/src/main/resources/local/dfsp_portal_vault.properties
implemention/mod_vault/src/main/resources/local/dfsp_portal_vault.properties
implementation/mod_component/src/test/java/com/thitsaworks/dfsp_portal/component/security/JasyptCryptoUnitTest.java
implementation/mod_component/src/test/java/com/thitsaworks/dfsp_portal/component/security/DfspCryptoUnitTest.java
implementation/mod_component/src/test/java/com/thitsaworks/dfsp_portal/component/security/DfspCryptoUnitTest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransferState.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransfersPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransfersIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransfersIDPatchResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionState.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionsIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionScenario.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionRequestState.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionRequestsPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionRequestsIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionInitiatorType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionInitiator.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Transaction.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Refund.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/QuotesPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/QuotesIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PersonalIdentifierType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyResult.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyPersonalInfo.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyIdType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyIdInfo.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyComplexName.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Party.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartiesTypeIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ParticipantsTypeIDSubIDPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ParticipantsTypeIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ParticipantsPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ParticipantsIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Money.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/IndividualTransferResult.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/IndividualTransfer.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/IndividualQuoteResult.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/IndividualQuote.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/GeoCode.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ExtensionList.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Extension.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ErrorInformationResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ErrorInformationObject.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ErrorInformation.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Currency.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkTransferState.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkTransfersPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkTransfersIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkQuotesPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkQuotesIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthorizationsIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthorizationResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthenticationValue.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthenticationType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthenticationInfo.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AmountType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransferState.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransfersPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransfersIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransfersIDPatchResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionState.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionsIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionScenario.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionRequestState.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionRequestsPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionRequestsIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionInitiatorType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/TransactionInitiator.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Transaction.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Refund.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/QuotesPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/QuotesIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PersonalIdentifierType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyResult.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyPersonalInfo.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyIdType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyIdInfo.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartyComplexName.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Party.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/PartiesTypeIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ParticipantsTypeIDSubIDPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ParticipantsTypeIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ParticipantsPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ParticipantsIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Money.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/IndividualTransferResult.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/IndividualTransfer.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/IndividualQuoteResult.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/IndividualQuote.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/GeoCode.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ExtensionList.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Extension.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ErrorInformationResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ErrorInformationObject.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/ErrorInformation.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/Currency.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkTransferState.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkTransfersPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkTransfersIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkQuotesPostRequest.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/BulkQuotesIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthorizationsIDPutResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthorizationResponse.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthenticationValue.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthenticationType.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AuthenticationInfo.java
implementation/mod_fspiop_interface/src/main/java/com/thitsaworks/mojaloop/thitsaconnect/fspiop/model/AmountType.java
implementation/mod_vault/src/main/resources/local/thitsaconnect_vault.properties
implementation/mod_vault/src/main/resources/local/thitsaconnect_vault.properties
